<p>
<h1>Timer Page</h1>
<br>The Timer!
<br>counting down from sometime......
<button type="button" class="btn btn-default" ng-click="startTimer()">Start</button>
<button type="button" class="btn btn-default" ng-click="stopTimer()">Stop</button>
<button type="button" class="btn btn-default" ng-click="pauseTimer()">Pause</button>
<button type="button" class="btn btn-default" ng-click="unpauseTimer()">Unpause</button>
<p>
	{{sessionTitle}}
</p>
<p>
	{{parentIntervalName}}
</p>
<p>
	{{intervalName}}
</p>
<p>
<div id="defaultCountdown"></div>
</p></p>
